body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
header, .footer {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.container {
    width: 100%; /* Ensure the container takes the full width of the viewport */
    max-width: 1200px; /* Limiting the maximum width for larger screens */
    margin: auto;
    padding: 0 10px; /* Padding to prevent content from touching the edges */
    overflow: hidden; /* Prevents any overflow from the container */
}
.content {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.profile img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}
.image-gallery {
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping of items */
    overflow-x: auto; /* Allows horizontal scrolling */
    padding: 20px 0;
    align-items: center;
    width: 100%;
}
.image-gallery img {
    flex: 0 0 auto; /* Ensures that the flex item does not grow or shrink */
    width: 200px;
    height: 200px;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    cursor: pointer;
}
.image-gallery img:hover {
    transform: scale(1.1);
    z-index: 10;
}
h1, h2, h4 {
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    background: #e4e4e4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
}
@media (max-width: 768px) {
    .container {
        padding: 0 5px;
    }
    .image-gallery img {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 480px) {
    header, .footer {
        padding: 10px 0;
    }
    .image-gallery img {
        width: 120px;
        height: 120px;
    }
}